openapi: 3.1.0
info:
  title: Perific/Enegic cloud API discovery contract
  version: 0.0.1
  summary: Clean-room API contract scaffold for the Perific Home Assistant integration.
  description: >
    This document records independently observed Perific/Enegic cloud API facts
    for perific-ha. It is intentionally incomplete. Request and response schemas
    stay broad until verified from vendor documentation or user-approved,
    redacted live traffic.
  x-clean-room:
    policy: >
      Community integrations and OpenAPI files are research checklists only.
      Do not copy their schemas, generated clients, fixtures, mappings, or prose.
    schema_gate: >
      Narrow schemas require vendor documentation or redacted live responses.
servers:
  - url: https://api.enegic.com
    description: Public Enegic cloud API host observed during discovery.
tags:
  - name: authentication
    description: Account/session endpoints.
  - name: telemetry
    description: Read-only meter telemetry endpoints for Home Assistant.
paths:
  /createtoken:
    put:
      operationId: createToken
      tags:
        - authentication
      summary: Create an account session token.
      description: >
        Credentialed verification shows this route accepts a username and
        password and returns a session token. Home Assistant stores the returned
        token in the config entry and does not store the password.
      x-perific-verification:
        status: credentialed_verified
        observed_at: "2026-06-22"
        observed:
          - "OPTIONS /createtoken -> Allow: PUT"
          - "GET /createtoken -> 405"
          - "PUT /createtoken with username/password -> 200"
        pending:
          - Failure response schema
          - Token refresh endpoint, if any
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenRequest"
      responses:
        "200":
          description: Token response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTokenResponse"
        "4XX":
          description: Client or authentication error. Schema pending verification.
  /getaccountoverview:
    get:
      operationId: getAccountOverview
      tags:
        - telemetry
      summary: Get account-level meter overview data.
      description: >
        Public method discovery shows this route accepts GET and PUT, and GET
        without credentials returns 401. Runtime use and schema details require
        credentialed verification.
      x-perific-verification:
        status: credentialed_verified
        observed_at: "2026-06-22"
        observed:
          - "OPTIONS /getaccountoverview -> Allow: GET, PUT"
          - "GET /getaccountoverview -> 401"
          - "GET /getaccountoverview with X-Authorization -> 200"
          - "GET /getaccountoverview with invalid X-Authorization -> 401"
        pending:
          - Account/site/device identifiers
          - Success response schema
      responses:
        "200":
          description: Account overview response. Schema pending verification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnverifiedJsonObject"
        "401":
          description: Authentication required. Body schema pending verification.
        "4XX":
          description: Client or authentication error. Schema pending verification.
    put:
      operationId: putAccountOverview
      tags:
        - telemetry
      summary: Get account-level meter overview data through the observed PUT route.
      description: >
        Public method discovery shows this route accepts PUT. Runtime use and
        schema details require credentialed verification before this operation
        can be treated as a supported Home Assistant read path.
      x-perific-verification:
        status: credentialed_verified
        observed_at: "2026-06-22"
        observed:
          - "OPTIONS /getaccountoverview -> Allow: GET, PUT"
          - "PUT /getaccountoverview with X-Authorization and empty body -> 200"
        pending:
          - Whether PUT is a supported read path for Home Assistant
          - Success response schema
          - Error response schema
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnverifiedJsonObject"
      responses:
        "200":
          description: Account overview response. Schema pending verification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnverifiedJsonObject"
        "4XX":
          description: Client or authentication error. Schema pending verification.
  /getlatestpackets:
    put:
      operationId: getLatestPackets
      tags:
        - telemetry
      summary: Get latest meter packets.
      description: >
        Credentialed verification shows this route accepts PUT with an empty
        JSON body and returns latest packet data. Net grid power is derived
        from consecutive PhaseMinute.data hwi and hwo energy counter deltas over
        PhaseMinute.ts elapsed time. Do not use hwi minus hwo as instantaneous
        watts. PhaseRealTime hiavg and huavg are current and voltage telemetry;
        they do not provide net import/export direction.
      x-perific-verification:
        status: credentialed_verified
        observed_at: "2026-06-22"
        observed:
          - "OPTIONS /getlatestpackets -> Allow: PUT"
          - "GET /getlatestpackets -> 405"
          - "PUT /getlatestpackets with X-Authorization and empty body -> 200"
          - "PUT /getlatestpackets with invalid X-Authorization -> 401"
          - "PhaseMinute.data includes numeric hwi and hwo cumulative counters with an observed kilowatt-hour scale"
          - "PhaseMinute.ts is a Unix epoch timestamp in milliseconds"
          - "Consecutive hwi and hwo deltas track load changes; direct hwi minus hwo does not represent instantaneous watts"
          - "PhaseRealTime.data includes hiavg current and huavg voltage arrays, but not net import/export direction"
        pending:
          - Vendor-documented hwi and hwo units
          - Vendor-documented current, voltage, and power semantics
          - Error response schema
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnverifiedJsonObject"
      responses:
        "200":
          description: Latest packet response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatestPacketsResponse"
        "4XX":
          description: Client or authentication error. Schema pending verification.
  /getreporterssettingsforuser:
    get:
      operationId: getReportersSettingsForUser
      tags:
        - telemetry
      summary: Get reporter settings for the authenticated user.
      description: >
        Public method discovery shows this route accepts GET and requires
        authentication. It is tracked as a possible metadata endpoint, not as
        part of the first Home Assistant telemetry path.
      x-perific-verification:
        status: public_method_observed_metadata_candidate
        observed_at: "2026-06-22"
        observed:
          - "OPTIONS /getreporterssettingsforuser -> Allow: GET"
          - "GET /getreporterssettingsforuser -> 401"
        pending:
          - Whether Home Assistant needs this endpoint
          - Success response schema
          - Stable identifiers safe for unique IDs after redaction
      responses:
        "200":
          description: Reporter settings response. Schema pending verification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnverifiedJsonObject"
        "401":
          description: Authentication required. Body schema pending verification.
        "4XX":
          description: Client or authentication error. Schema pending verification.
components:
  schemas:
    CreateTokenRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
          format: password
      additionalProperties: false
    CreateTokenResponse:
      type: object
      required:
        - TokenInfo
        - User
      properties:
        TokenInfo:
          type: object
          required:
            - Token
            - ValidTo
          properties:
            Created:
              type: string
            Token:
              type: string
            ValidTo:
              type: string
          additionalProperties: true
        User:
          type: object
          required:
            - UserId
          properties:
            UserId:
              oneOf:
                - type: integer
                - type: string
          additionalProperties: true
      additionalProperties: true
    LatestPacketsResponse:
      type: array
      items:
        $ref: "#/components/schemas/LatestPacket"
    LatestPacket:
      type: object
      required:
        - ItemId
        - LatestPackets
      properties:
        ItemId:
          oneOf:
            - type: integer
            - type: string
        LatestPackets:
          type: object
          required:
            - PhaseMinute
          properties:
            PhaseRealTime:
              $ref: "#/components/schemas/PhaseRealTimePacket"
            PhaseMinute:
              $ref: "#/components/schemas/PhaseMinutePacket"
          additionalProperties: true
      additionalProperties: true
    PhaseRealTimePacket:
      type: object
      required:
        - data
        - ts
      properties:
        data:
          type: object
          required:
            - hiavg
            - huavg
          properties:
            hiavg:
              type: array
              items:
                type: number
            huavg:
              type: array
              items:
                type: number
          additionalProperties: true
        ts:
          type: integer
          description: Unix epoch timestamp in milliseconds.
      additionalProperties: true
    PhaseMinutePacket:
      type: object
      required:
        - data
        - ts
      properties:
        data:
          type: object
          required:
            - hwi
            - hwo
          properties:
            hwi:
              type: number
              description: >
                Cumulative import energy counter, observed as kilowatt-hours.
                Use only with a newer
                PhaseMinute sample to derive average net power.
            hwo:
              type: number
              description: >
                Cumulative export energy counter, observed as kilowatt-hours.
                Use only with a newer
                PhaseMinute sample to derive average net power.
          additionalProperties: true
        ts:
          type: integer
          description: Unix epoch timestamp in milliseconds.
      additionalProperties: true
    UnverifiedJsonObject:
      type: object
      description: >
        Placeholder for JSON payloads whose shape is not yet source-backed.
        Replace with narrow schemas only after vendor documentation or
        user-approved, redacted live responses prove the fields.
      additionalProperties: true
